<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/Content/Bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/toastr.css">
    <link rel="stylesheet" href="~/Content/styles.css">
    <title>@ViewBag.Title | Project</title>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <!--<script src="~/Scripts/test.js"></script>-->

</body>
</html>